@font-face{
	font-family: 'Nexa';
	src:url(./fonts/Nexa_Book-webfont.woff2);
	font-weight: thin;
}

@font-face{
	font-family: 'Nexa';
	src:url(./fonts/Nexa_Heavy-webfont.woff2);
	font-weight: medium;
}

body{
	background-image: url("img/bg-img.png")
}

}
nav{
	width:100%;
	
}
h1{
	font-family: "Nexa";
	src:url(./fonts/Mexa_Book-webfont.woff2);
	color: rgb(230,75,81);
	font-size: 25px;
	margin: 15px;
	float: left;
}
ul{
	float : right;
	color: #ca5f53;

}

ul li{
	display: inline-block;
	margin-right: 45px;
	font-size: 20px;
	font-family: "Nexa";
	src:url(./fonts/Mexa_Book-webfont.woff2);
	vertical-align: middle;

}
a {
    text-decoration: none;
    color: black;
}
.zhuce{
	font-family: "Nexa";
	src:url(../fonts/Nexa_Heavy-webfront.woff2);
	border: 2px solid black;
	border-radius: 10px;
	padding: 5px 15px;

}

footer{
    height: 50px;
    padding: 25px 5px 75px;
    background-color: rgb(34,37,39);
    

}
.footer{
	
	width:100%;
}
#x{
	src:url(./fonts/Nexa_Book-webfont.woff2);
	font-weight: thin;
	width:100%;
	font-size: 15px;
	list-style-type: none;
	text-decoration: none;
	color: white;
	text-align:left;
	margin-left: 160px;
	margin-top: 5px;
}

p{
	font-family: 'Nexa';
	src:url(./fonts/Nexa_Heavy-webfont.woff2);
	color: grey;
	font-size: 35px;
	text-align: center;
}


.rest{

	height: 270px;
	width: 270px;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;

}

#first{
	margin-left: 20%;
}

.logo{
	
	
}


#hh{
	width: 30px;
	height: 30px;
	float: right;
	margin-right: 25px;

}















